* {
  text-decoration: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  background-color: #f9c5c8;
}

nav {
  background-color: #ff9999;
  padding: 15px;
}

.brand-container {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.best-sellers {
  padding-top: 6rem;
}

.classic-cakes {
  padding-top: 6rem;
}

.mini-cakes {
  padding-top: 6rem;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.fa-caret-down {
  padding-left: 5px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(250, 82, 82);
}

.dropdown:hover .dropbtn {
  background-color: rgb(250, 82, 82);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.cakes h1 {
  display: flex;
  justify-content: center;
  font-family: "Cormorant Upright";
  font-weight: 1000;
  margin: 30px 0 0 0;
  color: rgb(73, 64, 64);
}

.cakes .products {
  display: flex;
  justify-content: center;
  font-weight: 60;
  align-self: center;
  text-decoration: none;
}

.img:hover {
  scale: 1.1;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.img {
  scale: 1;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.cake-text {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  color: rgb(73, 64, 64);
  padding-bottom: 25px;
}

.cake-text:hover {
  color: crimson;
  transform: translateY(-10px);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.cakes .products h2 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Cormorant Upright";
  font-weight: 1000;
}

.cakes .products h4 {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.slides img {
  height: 100%;
  width: 1300px;
  float: left;
  display: block;
}

.slides {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1300px;
  animation: slide 15s infinite;
}

.slides h3 {
  color: white;
  background-color: #ff9999;
  position: absolute;
  z-index: 1;
  font-size: 50px;
  width: 220px;
  margin-left: 150px;
  margin-top: 100px;
  padding: 15px;
  border-radius: 10px;
  font-family: "Cormorant Upright";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.slides p {
  background-color: #ff9999;
  color: white;
  position: absolute;
  z-index: 1;
  font-size: 20px;
  width: 220px;
  margin-left: 150px;
  margin-top: 300px;
  padding: 15px;
  border-radius: 10px;
  font-family: "Cormorant Upright";
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.slides div {
  display: flex;
  align-items: center;
  width: max-content;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: -1300px;
  }

  50% {
    margin-left: -2600px;
  }

  75% {
    margin-left: -3900px;
  }

  100% {
    margin-left: 0;
  }
}

.footer {
  background-color: rgb(253, 38, 81);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: #f9f9f9;
  font-family: "Cormorant Upright";
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 60px;
  position: relative;
}

.footer1 a {
  color: #f9f9f9;
}

.footer1 a:hover {
  color: yellow;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}
